// .form-container{
//     border:1px solid #ffff;
//     padding:50px 60px;
//     margin-top: 20vh;
//     box-shadow:-1px 4px 26px 11px rgba(0,0,0,75);
//     background-color: whitesmoke;
// }
// .ng-valid[required], .ng-valid.required  {
//     border-left: 5px solid #42A948; /* green */
//   }
  
//   .ng-invalid:not(form)  {
//     border-left: 5px solid #a94442; /* red */
//   }
// // *{
// //     color:whitesmoke;
// // }
// h1{
//     text-align:center;
//     color: #4a5569;
// }
// // .inner{
// //     overflow: hidden;

// // }
// // .inner form{
// //     transition: all 1.0s ease;
// // }
// // .inner:hover form{
// //     transform:scale(1.5);
// // }


// .row1 
// { 
//     text-align:center; 
// }
// .row1 button 
// { 
//     margin:0px 5px; 
// }
// label{
// font-size: 20px;
// color: #4a5569;
// }

#registration-form{
	max-width: 800px;
	margin: 120px 20px ;
	
}

#registration-form .image{
	float:left;
	background-image: url("https://dl.dropboxusercontent.com/s/5lg1zkgu8esm5jw/desk.jpg?dl=0");

	width: 50%;
    background-size: cover;
    display:flex;
    height:650px;
		margin-top:-50px;
	// background-position: 25%;
}

#registration-form .frm{
	float:left;
  direction: ltr;
  text-align: left;
    height: auto;
  width:80%;
  min-width: 250px;
  padding: 0 35px;
  background-size: 100% 100%;
  background:rgba(255,255,255,0.5);
	margin-top:-90px;
	margin-left:120px;
	font-family:'IBM+Plex+Serif', serif ;
	box-shadow: 10px 5px 5px 5px black; 


}

#registration-form h1{
	margin-top: 30px;
	margin-bottom: 20px;  
}

#registration-form .form-control{
	width: 100%;
	padding: 12px 20px;
	height: auto;
}
#registration-form .alert{
    width:100%;
    height:auto;
    padding:12px 20px;
}

@media screen and (max-width: 700px){
	#registration-form .image{
		width: 30%;
	    background-position: 60%;
	}

	#registration-form .frm{
		width: 70%;
	}

	#registration-form .form-control{
		width: 100%;
	}
}

@media screen and (max-width: 500px){
	#registration-form .image{
		display: none;
	}

	#registration-form .frm{
		width: 100%;
	}

	#registration-form h1{
		text-align: center;
	}

	#registration-form .btn{
		width: 100%;
		margin-top: 20px;
	}
}
.ng-valid[required], .ng-valid.required  {
        border-left: 5px solid #42A948; /* green */
       }
      
       .ng-invalid:not(form)  {
         border-left: 5px solid #a94442; /* red */
       }
