<div class="container" id="registration-form">
  <!-- <div class="image"></div> -->
  
  <div class="frm">
      <h1>Registration Form</h1>
      <form class="form-container" id="form" #registerForm="ngForm">
          <div class="form-group">
              <label for="email"><b>Email</b></label>&nbsp;
              <i class="fa fa-envelope icon"></i>
              <input type="email" class="form-control" id="email" name="email" autocomplete="off" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              [(ngModel)]="registerData.email" #email="ngModel" placeholder="john@gmail.com" required />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
  
              <div *ngIf="email.errors?.required">
                Email is required.
              </div>
              <div *ngIf="email.errors?.pattern">
                Email is invalid.
              </div>
            </div>
          </div>
          <div class="form-group">
              <label for="username"><b>UserName</b></label>&nbsp;
              <i class="fa fa-user icon"></i>
              <input type="text" class="form-control" id="username" name="username" autocomplete="off" maxlength="50"
              [(ngModel)]="registerData.username" #username="ngModel" placeholder="john" required />
              
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">

  
              <div *ngIf="username.errors?.required">
                Username is required.
              </div>
            </div>
          </div>
          <!-- <div class="form-group">
              <label for="publickey"><b>Public Key</b></label> &nbsp;&nbsp;
    
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="publickey" id="Yes" [(ngModel)]="registerData.publickey"
                  name="publickey" #publickey="ngModel" value="yes" required />
                <label class="form-check-label" for="Yes"><b>Yes</b></label>
    
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="publickey" id="No" [(ngModel)]="registerData.publickey"
                  name="publickey" #publickey="ngModel" value="no" required />
                <label class="form-check-label" for="No"><b>No</b></label>
    
              </div>
              <div *ngIf="(publickey.dirty||publickey.touched) && publickey.invalid">
                <div *ngIf="publickey.errors.required" class="alert alert-danger">PublicKey is required</div>
              </div>
            </div>
            <div class="form-group">
              <div *ngIf="registerData.publickey=='yes'">
                <label for="text"><b>Enter Public Key</b> </label>&nbsp;
                <i class="fa fa-key icon"></i>
                <input type="text" class="form-control" id="publickeyvalue" name="publickeyvalue" autocomplete="off"
                [(ngModel)]="registerData.publickeyvalue" #publickeyvalue="ngModel" maxlength="20" pattern="0[xX][0-9 a-z A-Z]+" placeholder="Public Key Value" required />
                <div *ngIf="publickeyvalue.invalid && (publickeyvalue.dirty || publickeyvalue.touched)" class="alert alert-danger">
                    <div *ngIf="publickeyvalue.errors?.required">
                        Public Key Value is required.
                      </div>
    
                      <div *ngIf="publickeyvalue.errors?.pattern">
                      Invalid PublicKey Value
                      </div>
                </div>
              </div>
            </div>
     -->
          
          <div class="form-group">
              <label for="pwd"><b>Password</b></label>&nbsp;
              <i class="fa fa-lock icon"></i>
              <input type="password" class="form-control" id="password" name="password" autocomplete="off" maxlength="20"
            [(ngModel)]="registerData.password" passwordToggle #password="ngModel" placeholder="******" required />
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

            <div *ngIf="password.errors?.required">
              Password is required.
            </div>
          </div>
          </div>
          <div class="form-group">
              <label for="confirmpassword"><b>Confirm Password</b></label>&nbsp;
              <i class="fa fa-lock icon"></i>
              <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" autocomplete="off"
                maxlength="20" appConfirmEqualValidator="password" [(ngModel)]="registerData.confirmpassword" passwordToggle
                #confirmpassword="ngModel" placeholder="******" required />
            </div>
            <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)" class="alert alert-danger">
              <div *ngIf="confirmpassword.errors?.required">
                Confirm Password is required.
              </div>
              <div *ngIf="confirmpassword.errors?.notEqual && !confirmpassword.errors?.required">
                Password and Confirm Password doesnt match
              </div>
            </div>
          <div class="form-group">
              <button type="submit" [disabled]="!registerForm.valid" (click)="register()"class="btn btn-primary btn-md">Signup</button>&nbsp;&nbsp;
              <button type="reset" class="btn btn-success btn-md">Reset</button>&nbsp;&nbsp;
         
          </div>
      </form>
  </div>
</div>