// .card{
//     background-color: white;
//     box-shadow:0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
//     color:black;
//     margin: 20px;
//     padding: 10px;
// }
// .row{
//     top:200px;
//     left:250px;
// }
// .form-container{
//     border:1px solid #ffff;
//     padding:50px 60px;
//     margin-top: 20vh;
//     box-shadow:-1px 4px 26px 11px rgba(0,0,0,75);
// }
// h1{
//     text-align: center;
//     color:whitesmoke
// }
// label{
//     color:whitesmoke;
// }
// .container{
//     background-color: white;
//     margin-top:150px;
// }

body,
.pure-g [class*=pure-u] {
  font-family: 'IBM+Plex+Serif', serif;
}
p{
    font-size:1.0rem;
}
.btn{
    font-size:1.0rem;
}

h1, h2, h3 {
  font-family: 'IBM+Plex+Serif', serif;
  font-size:2.0rem;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}
.pure-menu-button{
  margin-left:470px;
  background-color:#4CAF50; /* Green */
  border-radius:12px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 5px #999;
}

.pure-button-primary {
  background-color:#008CBA;
  border-radius:12px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 9px #999;
}
.pure-button-secondary{
  background-color:#4CAF50; /* Green */
  border-radius:12px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 9px #999;

}

/* .pure-button-primary:hover {
  background-color: #233e5e;
}
.pure-button-secondary:hover {
  background-color: #233e5e;
} */

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

/* .navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
} */

.navbar a {
  color: #fff;
}

.navbar a:active,
/* .navbar a:focus,
.navbar a:hover {
 
} */

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
  font-family:'IBM+Plex+Serif', serif;
    color: #4a5569;
    letter-spacing: 0.2rem;
    font-size: 2.0rem;  
    margin-left:530px;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.navbar{
  background-color: whitesmoke;
}
.form-control{
  width:400px;
  margin-left:120px;
}

.pure-g{
  background:rgba(255,255,255,0.5);
  margin-top:70px;
  height:300px;
text-align:center;
width:600px;
margin-left:-80px;
font-family:'IBM+Plex+Serif', serif;
box-shadow:-1px 4px 26px 11px rgba(0,0,0,75);
}
:host::ng-deep .app-header .navbar-brand{
    pointer-events: none;
    cursor: default;
}
.app-title li{
  font-family: 'IBM+Plex+Serif', serif;
  color: #4a5569;
  letter-spacing: 0.3rem;
  font-size: 1.8rem;    
  cursor: default;
}
.btn{
font-family:'IBM+Plex+Serif', serif;
}


