<div class="App">
  <app-header [fixed]="true" [navbarBrandFull]="{src: './assets/images/download.png', width: 59, height: 20, alt: 'Insurance Portal Logo'}" [sidebarToggler]="false" [asideMenuToggler]="false">
    <ul class="nav navbar-nav ml-auto app-title">

      <li>Image Portal</li>
  </ul>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
      <button class="btn btn-primary btn-sm" (click)="go()">Hash</button>&nbsp;&nbsp;
      <button class="btn btn-primary btn-sm"(click)="logout()"> Logout </button>&nbsp;
    </li>
  </ul>
    </app-header>


  <main class="container">
    <div class="pure-g">
      <div class="pure-u-1-1">
        <h1>Your Image</h1>
        <p>This image is stored on IPFS & Hyperledger Fabric  Blockchain!</p>
        
        <!-- <img src="https://ipfs.io/ipfs/{{this.ipfsHash}}" alt=""/> -->
        <h2>Upload Image</h2>
        <form>
            
            <input type="file" class="form-control" [(ngModel)]="ipfsdata.image" id="image" name="image"
              #image="ngModel" (change)="captureFile($event)" required /><br/>
            <!-- <div *ngIf="file.invalid && (file.dirty || file.touched)">
              <div *ngIf="image.errors.required" class="alert alert-danger">Image is required</div>
            </div>-->
          <button type="submit"class="btn btn-md btn-success" (click)="submit()"><i class="fa fa-paper-plane"> Submit </i></button>&nbsp;&nbsp;
          <button type="reset" class="btn btn-md btn-primary" ><i class="fa fa-lock"> Reset </i></button>
        </form>
      </div>
    </div>
  </main>
</div>
