.app-title li{
    font-family: 'IBM+Plex+Serif', serif;
    color: #4a5569;
    letter-spacing: 0.3rem;
    font-size: 1.8rem;    
    cursor: default;
  }
  .btn{
  font-family:'IBM+Plex+Serif', serif;
  font-size:1.0rem;
  }