<app-header [fixed]="true" [navbarBrandFull]="{src: './assets/images/download.png', width: 59, height: 20, alt: 'Insurance Portal Logo'}" [sidebarToggler]="false" [asideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto app-title">

    <li>Image Portal</li>
</ul>

<ul class="nav navbar-nav ml-auto">
  <li class="nav-item">
    
    <button class="btn btn-primary btn-sm"(click)="back()"> Back </button>&nbsp;
  </li>
</ul>
  </app-header>
<br/><br/><br/>

  <div class="container" *ngIf="hashobj">
      <div class="row">
          <div class="col-md-6" *ngFor="let hash of hashobj;let i = index;">
              <br />
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title d-flex justify-content-center">
                          Your Hash Details
                      </h5>
                      <hr />
                      <div>
  
                          <table class="table table-bordered">
                              <tbody>
                                  <tr>
                                      <th scope="row">S.No</th>
                                      <td>{{i+1}}</td>
                                  </tr>
                                  <tr>
                                      <th>Email</th>
                                      <td>{{hash.emailId}}</td>
                                  </tr>
                                  <tr>
                                      <th>Ipfs Hash</th>
                                      <!-- <td>{{hash.ipfsfile}}</td> -->
                                      <a href="https://ipfs.io/ipfs/{{hash.ipfsfile}}"><td  width="200">{{hash.ipfsfile}}</td></a>
                                  </tr>
                                  
  
  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
  
          <!-- <div class="card no-data" *ngIf="!showData">No Data To Display</div> -->
      </div>
  </div>
  <br />