<div class="sidebar-nav-fixed">
  <!-- <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a> -->

  <div>
    <img src="../../assets/images/indium-logo.jpg" class="shadow-lg rounded">
  </div>

  <ul class="nav navbar-nav ml-auto app-title">
    <li><b>Image Portal</b></li>
  </ul>

  <div class="container">
    <app-login></app-login>
  </div>

  <div class="container1">
    <button (click)="toggle()" type="submit">Register</button>
  </div>

</div>

<main class="main-content">
  <app-register class="reg" *ngIf="!isView"></app-register>
  <app-show class="show" *ngIf="isView"></app-show>
</main>




