#left,#right{
    width:150px;
    height:150px;
    margin-top:150px;
    margin:30px;
    

    
}
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
:host ::ng-deep .sidebar{
    background: rgba(0, 0, 0, 0.5);
    border-right: solid 1px white;
    color:white;
}
.sidebar-nav-fixed {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(255,255,255,0.5);
    padding-top: 20px;
  }
//   button{
//     background-color:rgba(255,255,255,0.5);
//     color:#0a64B1;
//     width:408px;
//     font-size:1.8rem;
//     margin-left:-400px;
//     font-weight:bold;
//     font-family:'IBM+Plex+Serif', serif;
//     position: fixed;
//     // display: inline-block;
//     bottom: 0;
// }
button{
    background-color: white;
    color: #0a64B1;
    position: fixed;
    width: 460px;
    font-size: 1.8rem;
    margin-bottom: -200px;
    margin-top:510px;
    margin-left:-450px;
    font-weight: bold;
    font-family: 'IBM+Plex+Serif', serif;
}
.container{

    margin-top:-120px;
    width:550px;
    margin-left:-50px;
}
.container1{
    margin-top:140px;
    
}


.app-title li{
    font-family: 'IBM+Plex+Serif', serif;;
    color:#4a5569;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    cursor: default;
    margin-top:30px;
    margin-left:15px;
    text-align: center;
} 
img{
    
    width: 100px;
    
    height: 100px;
    // top: 40px;
    overflow:hidden;
    // border-radius: 60px;
    /* z-index: 9; */
    /* bottom: 51px; */
    /* left: 0; */
    /* right: 0; */
    // padding-right: 50;
    margin-top: 10px;
    margin-left: 135px;
    position: relative;
    box-shadow:0px 2px 2px ;
}
.main-content{
    padding: 80px 150px 600px 500px;
    
}
.show{
    position:fixed;
}
#avatar{
    position: absolute;
   margin: 0 auto;
   left: 0;
   right: 10px;
   top: 10px;
    /* width: 95px;
   height: 95px;  */
   border-radius: 50%;
   z-index: 9;
   background:white;
   padding: 15px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); 
   border-radius:50%;
   width:100px;
   height:100px;
   background-size: cover;
} 
    