/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@coreui/coreui/scss/coreui.scss";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body{
    background-image:url('./assets/images/21.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    height:100%;
}