.inner{
    overflow: hidden;

}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform:scale(1.5);
}
.video-fluid{
    height:170px;
}   
.card-deck{
    margin-left:-100px;
}
.card{
    box-shadow:0px 5px 5px skyblue;
}