<!-- <div class="card-columns container">
  <div class="card">
    <div class="inner">
        <div class="view view-cascade overlay">
       <img class="card-img-top" src="./assets/images/home-page/life-insurance-cost.jpg"
      alt="Indium Insurance Portal"> 
      <video class="video-fluid"  autoplay  controls muted>
        <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" class="videosrc" type="video/mp4" />
      </video>
      
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-outline-primary btn-sm">
        View plan
      </button>
    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <div class="inner">
        <img class="card-img-top" src="../../../assets/home-page/two-wheeler-insurance.jpg" alt="Indium Insurance Portal" />
      </div>
      <p class="card-text"></p>
      <button type="button" (click)="viewinsurance('2 Wheelers')" class="btn btn-outline-primary btn-sm">
        View plan
      </button>
    </div>
  </div>

  
  <div class="card">
    <div class="card-body">
      
      <div class="inner">
        <img class="card-img-top" src="../../../assets/home-page/Car-Loan.jpg" controls alt="Indium Insurance Portal" />
      </div>
      <p class="card-text"></p>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="viewinsurance('4 Wheelers')">
        View plan
      </button>
    </div>
  </div>

  
  <div class="card">
    <div class="card-body">
     
      <div class="inner">
        <div class="view view-cascade overlay">
         
          <embed src="https://www.pwc.com/gx/en/insurance/assets/blockchain-a-catalyst.pdf"  height="200px" />
        </div>
      </div>
     
      <button type="button" class="btn btn-outline-primary btn-sm">
        View plan
      </button>
    </div>
  </div>

 
  <div class="card">
    <div class="inner">
      <div class="view view-cascade overlay">
        <img class="card-img-top" src="../../../assets/home-page/travel.jpg" alt="Indium Insurance Portal" />
        
      </div>
    </div>
    <div class="card-body">
      
      
      <button type="button" class="btn btn-outline-primary btn-sm">
        View plan
      </button>
    </div>
  </div>

  
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Travel Insurance Plans</h4>
      <div class="inner">
          <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://images.financialexpress.com/2018/10/TRAVEL_INSURANCE.jpg" alt="Indium Insurance Portal" />
        </div>
      </div>
      <p class="card-text">Coming Soon</p>
      <button type="button" class="btn btn-outline-primary btn-sm">
        View plan
      </button>
    </div>
  </div>
</div> -->

<div class="card-deck">

  <div class="col-md-4">
    <div class="card h-100">
        <div class="card-body">
           
            <div class="inner">
                <div class="view view-cascade overlay">
              <img class="card-img-top" src="../../../assets/images/earthday.jpg" alt="Indium Insurance Portal" />
              </div>
            </div><br/>
            
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="view()">
            Download
            </button>
          </div>
        </div>
      
      
    </div>
  
  
  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-body">
          <div class="inner">
              <div class="view view-cascade overlay">
                  <video class="video-fluid"  autoplay  controls muted>
                      <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" class="videosrc" type="video/mp4" />
                    </video>
                
              </div>
            </div><br/>
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="view()">
                Download
                </button>

      </div>   

  </div>
  </div>
  
  
  <div class="col-md-4">
    <div class="card h-100">
        <div class="card-body">
     
            <div class="inner">
              <div class="view view-cascade overlay">
               
                <embed src="https://www.pwc.com/gx/en/insurance/assets/blockchain-a-catalyst.pdf" height="170px" />
              </div>
            </div><br/>
           
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="view()">
            Download
            </button>
          </div>
     
    </div>    
  </div>

</div>

<br/>

<div class="card-deck">
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
         
                <div class="inner">
                  <div class="view view-cascade overlay">
                      
                     <embed src="https://scet.berkeley.edu/wp-content/uploads/BlockchainPaper.pdf" height="170px" />
                  </div>
                </div><br/>
               
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="view()">
                Download
                </button>
              </div>
         
        </div>    
      </div>
  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-body">
      
            <div class="inner">
              <img  src="../../../assets/images/butterfly1.jpg" height="170px" >
            </div><br/>
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="view()">
              Download
            </button>
          </div>
      
    </div>      
    </div>    
  

  <div class="col-md-4">
    <div class="card h-100">
        <div class="card-body">
      
            <div class="inner">
                <video class="video-fluid" autoplay controls muted>
                    <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
                </video>
             
            </div><br/>
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="view()">
              Download
            </button>
          </div>
     
    </div>    
  </div>

</div>
