<div class="container" id="login-form">
  <!-- <div class="image"></div> -->
  <div class="frm">
      <h1>Login Form</h1>
      <form class="form-container" id="form" #loginForm="ngForm">
          
        <div class="form-group">
          <label for="email"><b>Email</b></label>&nbsp;
          <i class="fa fa-envelope icon"></i>
          <input type="email" class="form-control" id="email" name="email" autocomplete="off" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          [(ngModel)]="loginData.email" #email="ngModel" placeholder="john@gmail.com" required />
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

          <div *ngIf="email.errors?.required">
            Email is required.
          </div>
          <div *ngIf="email.errors?.pattern">
            Email is invalid.
          </div>
        </div>
      </div>
    
          
          <div class="form-group">
              <label for="pwd"><b>Password</b></label>&nbsp;
              <i class="fa fa-lock icon"></i>
              <input type="password" class="form-control" id="password" name="password" autocomplete="off" maxlength="20"
            [(ngModel)]="loginData.password" passwordToggle #password="ngModel" placeholder="******" required />
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

            <div *ngIf="password.errors?.required">
              Password is required.
            </div>
          </div>
          </div>
         
          <div class="form-group">
              <button type="reset" class="btn btn-success btn-md">Reset</button>&nbsp;&nbsp;
              <button type="submit" [disabled]="!loginForm.valid" (click)="login()"class="btn btn-primary btn-md">Signin</button>&nbsp;&nbsp;
              <ng-template #dummy>
                  <!--<div class="modal-header">
                    <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"><span
                    aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    </div>-->
                  <div class="modal-body">
                    <label class="mod1"><b>Enter Secret Key to Login</b></label><br />

                    <input type="text" class="mod" [(ngModel)]="loginData.otp" #otp="ngModel" name="otp" autocomplete="off" /><br /><br />

                    <button type="submit" (click)="otpverification()" class="btn btn-primary btn-md">Submit</button>


                  </div>
                </ng-template>
              
          
          </div>
      </form>
  </div>
</div>