#login-form{
	max-width: 800px;
	margin: 120px 20px ;
	
}

#login-form .image{
	float:left;
	background-image: url("https://dl.dropboxusercontent.com/s/5lg1zkgu8esm5jw/desk.jpg?dl=0");

	width: 50%;
    background-size: cover;
    display:flex;
    height:400px;
		margin-top:60px;
	// background-position: 25%;
}
.mod{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	 
}
#login-form .frm{
	float:left;
  direction: ltr;
  text-align: left;
    height: auto;
  width: 80%;
  min-width: 250px;
  padding: 0 35px;
  background-size: 100% 100%;
  background:rgba(255,255,255,0.5);
	margin-top:60px;
	font-family:'IBM+Plex+Serif', serif;
	box-shadow: 5px 2px 2px  black; 

}

#login-form h1{
	margin-top: 30px;
	margin-bottom: 20px; 
	font-family:'IBM+Plex+Serif', serif 
}

#login-form .form-control{
	width: 100%;
	padding: 12px 20px;
	height: auto;
	font-family:'IBM+Plex+Serif', serif
}
#login-form .alert{
    width:100%;
    height:auto;
    padding:12px 20px;
}

@media screen and (max-width: 700px){
	#login-form .image{
		width: 30%;
	    background-position: 60%;
	}

	#login-form .frm{
		width: 70%;
	}

	#login-form .form-control{
		width: 100%;
	}
}

@media screen and (max-width: 500px){
	#login-form .image{
		display: none;
	}

	#login-form .frm{
		width: 100%;
	}

	#login-form h1{
		text-align: center;
	}

	#login-form .btn{
		width: 100%;
		margin-top: 20px;
	}
}
.ng-valid[required], .ng-valid.required  {
        border-left: 5px solid #42A948; /* green */
       }
      
       .ng-invalid:not(form)  {
         border-left: 5px solid #a94442; /* red */
       }
